# POSTGRES 
POSTGRES_USER=openforms_user
POSTGRES_PASSWORD=openforms_pass
POSTGRES_DB=openforms_db
POSTGRES_PORT=5432

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# API / BACKEND (NestJS)
API_PROTOCOL=http
API_HOST=localhost # Mude para seu IP local (ex: 192.168.0.x) para testar no celular
API_PORT=3000
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# FRONTEND (Vite)
FRONT_PORT=5173