# POSTGRES 
POSTGRES_USER=openforms_user
POSTGRES_PASSWORD=openforms_pass
POSTGRES_DB=openforms_db

# BACKEND (NestJS + Prisma) 
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"
REDIS_HOST=redis
REDIS_PORT=6379

# FRONTEND (Vite) 
VITE_API_URL=http://localhost:3000